/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap'); */

@font-face {
  font-family: "Roboto-Light";
  src: url("./fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* -- SERVICE AND PRODUCT -- */
.service {
  background-color: #fff;
  margin: 30px auto 40px;
}

.service .service-content .service-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  color: #5a5956;
}

.service .service-content .service-description {
  width: 400px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: center;
  margin: 20px auto 40px;
  color: #4a4a4a;
}

.service .service-group {
  margin: auto;
}
.service .service-group .service-row .service-card {
  /* height: 18em;
  width: 40%; */
  height: 16em;
  width: 87%;
  margin: 0 auto;
}

.service .service-group .service-card {
  border: 1px solid #d3dde0;
  text-align: center;
  /* width: 20%; */
}

.service .service-group .service-row .service-card .service-intro {
  height: 2em;
}

.service
  .service-group
  .service-row
  .service-card
  .service-intro
  .service-highlight {
  color: #127bbe;
  cursor: pointer;
}

.service .service-group .service-card img {
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  margin: 15px 0;
}

.service .service-group .service-card h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  /* text-align: center; */
  color: #2e2f30;
  margin-top: 10px;
}

.service .service-group .service-card .service-intro {
  /* height: 46px; */
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: center;
  color: #5a5956;
  margin: 1em 3em 3rem;
}

.service .service-group .service-card .service-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: center;
  color: #127bbe;
  cursor: pointer;
}

.service .service-group .service-card a img {
  opacity: 0px;
  color: #127bbe;
  margin: auto 10px;
}

/* -- SUPPLY CHAIN -- */
.supply {
  background: #f1f4f5;
}

.supply .supply-content .supply-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  padding-top: 30px;
}

.supply .supply-content .supply-description {
  /* width: 400px; */
  /* height: 34px; */
  text-align: center;
  /* margin: 23px auto 42px; */
  margin: 23px 42px;
}

.supply .supply-group {
  align-items: center;
  justify-content: space-evenly;
}

.supply .supply-group .supply-card {
  width: 300px;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
}

.supply .supply-card .supply-card__title {
  /* width: 75px; */
  /* height: 29px; */
  /* top: 1429px; */
  font-size: 24px;
  /* font-weight: 300; */
  line-height: 28.13px;
  text-align: center;
  color: #5a5956;
  margin-bottom: 5px;
  margin-top: 30px;
}

.supply .btn-getting-started {
  /* margin: 55px auto 30px; */
  padding: 40px;
  text-align: center;
}

.supply .btn-getting-started button {
  border: 1.5px solid #127bbe;
  color: #127bbe;
  padding: 15px 40px;
  -webkit-text-stroke: thin;
  cursor: pointer;
}

/* -- FOOTER -- */
.footer {
  /* padding: 28px 0 35px; */
  padding: 20px 0;
  background: #e7ecee;
}

.footer .footer-container .footer-content {
  margin-bottom: 35px;
  text-align: center;
}
.footer .footer-container .footer-content .footer-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer .footer-container .footer-content .footer-service-content {
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 700;
  color: #5a5956;
}

.footer .footer-container .footer-content .footer-list {
  font-size: 13px;
  list-style-type: none;
  line-height: 25px;
  color: #000000;
  cursor: pointer;
}

/* -- COPYRIGHT -- */
.copyright {
  background: #353535;
  color: #fff;
  font-size: 13px;
  /* height: 33px; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 20px 84px;
}

.copyright .copyright-leftside .copyright-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  word-spacing: 25px;
}

.copyright .copyright-leftside .copyright-list .copyright-item {
  cursor: pointer;
}

.copyright .copyright-rightside {
  text-align: center;
  margin-top: 15px;
}

@media screen and (min-width: 992px) {
  /* -- SERVICE AND PRODUCT -- */
  .service .service-group .service-row {
    display: flex;
    margin: 0 15rem;
  }

  .service .service-group .service-row .service-card {
    width: 20rem;
  }

  /* -- SUPPLY CHAIN -- */
  .supply .supply-group {
    display: flex;
    /* margin: 30px auto; */
    /* flex-wrap: wrap; */
    /* column-gap: 2em; */
  }

  .supply .supply-group .supply-card {
    margin: 0 -6rem;
  }

  /* -- FOOTER -- */
  .footer .footer-container {
    display: flex;
    justify-content: space-evenly;
  }

  .copyright {
    display: flex;
    position: relative;
  }

  .copyright .copyright-leftside .copyright-list {
    display: flex;
    justify-content: flex-start;
  }

  .copyright .copyright-rightside {
    right: 5rem;
    position: absolute;
    margin-top: 0;
  }
  .copyright .copyright-leftside .copyright-list .copyright-item {
    margin-right: 2rem;
    cursor: pointer;
  }
}
